.aside {
	display: none;

	@media (min-width: $min-lg) {
		display: block;
		width: 320px;
		min-width: 320px;
		padding-right: 14px;
		padding-top: 48px;
	}

	& h2 {
		margin: 0 0 25px;
		font-size: 18px;
		line-height: 21px;
	}
}

@media (min-width: $min-lg) {
	.aside__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.aside__item {
		display: flex;
		align-items: flex-start;
		padding: 24px 0 15px;
		border-top: 1px solid #C4C4C4;

		& img {
			margin-right: 13px;
		}

		& p {
			margin: 0;
			margin-bottom: 9px;
			font-weight: 500;
			font-size: 16px;
			line-height: 156%;
		}
	}

	.aside__tag {
		display: block;
		width: fit-content;
		margin-bottom: 4px;
		font-weight: 700;
		font-size: 16px;
		color: #46af87;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-decoration: none;

		&:hover {
			opacity: 0.75;
		}
	}
}

.aside__button {
	padding: 3px 8px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	background-color: #EE5B3D;
	border-radius: 50px;

	&:hover {
		opacity: 0.75;
	}
}
