.comments {
	padding-top: 35px;
	padding-bottom: 74px;

	@media (min-width: $min-lg) {
		padding-top: 90px;
		padding-bottom: 80px;
	}

	& h2 {
		margin: 0;
		margin-bottom: 62px;
		font-size: 25px;
		line-height: 7.7px;
		color: #46A962;

		@media (min-width: $max-md) {
			font-size: 30px;
			line-height: 26%;
			line-height: 7.8px;
		}
	}
}

.comments__list {
	margin: 0 0 15px;
	padding: 0;
	list-style-type: none;

	@media (min-width: $max-md) {
		margin-bottom: 30px;
	}
}

.comments__item {

	&:not(:last-child) {
		margin-bottom: 15px;
		border-bottom: 1px solid #A4A4A4;
	}

	& .comments__ava {
		float: left;
		border-radius: 50%;
	}

	& .comments__name {
		display: block;
		margin-bottom: 16px;
		margin-left: 100px;
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
	}

	& p {
		margin: 0;
		margin-left: 100px;
	}

	& .comments__footer {
		margin-bottom: 30px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		text-align: right;

		& span {

			&::before {
				margin-right: 10px;
				content: '';
				display: inline-block;
				vertical-align: bottom;
				width: 17px;
				height: 21px;
				background-repeat: no-repeat;
				background-size: contain;
			}

			&:first-child {
				margin-right: 30px;
				color: #000000;

				&::before {
					background-image: url(../../img/dislike.svg);
					background-position: center bottom;
				}
			}

			&:last-child {
				color: #24B80C;

				&::before {
					background-image: url(../../img/like.svg);
					background-position: center top;
				}
			}
		}
	}
}
